<div class="container">
	<div class="mb-5 d-flex justify-content-around">
		<div>
			<h1>
				<%= @cocktail.name %>
				<%= link_to cocktail_path(@cocktail), data: { method: 'delete', confirm: "are you sure?" } do %>
					<small><i class="fas fa-trash-alt cocktail-edit"></i></small>
				<% end %>	
			</h1>
			<div class="cocktail-info">
			<% if @cocktail.ingredients.empty? %>
					<p>
						This cocktail has no ingredients yet.
					</p>
				<% else %>
					<ul>
						<% @cocktail.ingredients.each_with_index do |ingredient, ind| %>
							<li>
								<%= ingredient.name %> 
								<small>(<%= @cocktail.doses[ind].description %>)</small> 
								<%= link_to dose_path(@cocktail.doses[ind]), data: { method: 'delete', confirm: "are you sure?" } do %>
									<i class="fas fa-trash-alt ingredient-edit"></i>
								<% end %>
							</li>
						<% end %>
					</ul>
				<% end %>
			</div>
		</div >
		<div class="new-dose-form">
			<h3 class="mb-3">Add an ingredient!</h3>
			<%= render 'doses/form' %>
		</div>
	</div>
	<%= link_to 'Add a review!', edit_review_path, data: { toggle: 'modal', target: '#exampleModal' } %>
	<div class="reviews mt-3">
		<div class="review">
			<% if @cocktail.reviews.empty? %>
				<p>
					There are no reviews for this cocktail. Leave one below!
				</p>
			<% else %>
				<% @cocktail.reviews.each do |review| %>
					<div class="d-flex justify-content-between">
						<div class="stars">
							<% review.rating.times do %>
								<i class="fas fa-star"></i>
							<% end %>
						</div>
						<div class="ml-10">
							<%= link_to review_path(review), data: { method: 'delete', confirm: "are you sure?" }, class: 'btn btn-danger' do %>
								<i class="fas fa-trash-alt"></i>
							<% end %>
						</div>
					</div>
					<p><%= review.content %></p>
					<div class="review-edit">
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'reviews/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>